.mat-sidenav-container {
    min-height: 1800px;
}

.sidenav-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2em;
    letter-spacing: 1px;
    width: auto;
    height: 5rem;
    span {
      color: #210f72;
    }
  }