<mat-list-item [ngStyle]="{'padding-left': (depth * 1.5) + 'em'}" (click)="onItemSelected(item)"
              [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
  <mat-icon class="routeIcon"><small>{{item.iconName}}</small></mat-icon>
  {{item.displayName}}
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"> 
      <!-- "expanded ? 'expanded': 'collapsed'"> -->
      expand_more
    </mat-icon>
  </span>
</mat-list-item>
<div *ngIf="expanded">
  <us-sidenav-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </us-sidenav-list-item>
</div>
